
<div class="container">
    <hr>
    <div class="row py-3">
        <div class="col">
            <h2>Guided By Experience</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-4">
            <img src="assets/images/Leaders/leader2.png" class="img-fluid"  />
            <h4>Padma Shri Gowri Ishwaran </h4>
            <p>Chief Mentor, ZOE International School</p>
        </div>
        <div class="col-lg-8">

            <p class="text-justify">In 2004, the Government of India awarded Gowri Ishwaran the 4th highest civilian honour – the Padma Shri  - for her contributions to the Indian Educational sector.  She has taught at prestigious schools across India such as St. Michael's School, Patna, and Delhi Public School and Springdales School, Delhi. She is the founder of the prestigious Sanskriti School, Vice-Chairperson of the Global Education & Leadership Foundation (GELF), advisor to the Shiv Nadar Foundation and has supported many education initiatives and social causes over the years.</p>
            <p class="text-justify">As Chief Mentor, she brings a wealth of experience and wisdom to ZOE International School.</p>
        </div>
    </div>
    <hr>
    <div class="row py-3">


        <div class="col-lg-8">

            <p class="text-justify">A visionary, an educationist, and a successful entrepreneur Amreesh has been honoured with the title of Freeman to the city of London for his immense contribution to the education sector. Amreesh Chandra continues to pursue his quest and vision for better and fair education because he firmly believes that if society is to be reformed, education has to reach everyone high and low, because individuals are the very constituents of society. He actively institutes the need to reimagine the status quo, enhancing the educational experience by adopting emerging technologies, global practices and empowering teachers. Amreesh is committed to student wellbeing, bringing to UAE, seamless, quality and affordable online education platforms.</p>

        </div>
        <div class="col-lg-4">
            <img src="assets/images/Leaders/Amreesh.png" class="img-fluid"  />
            <h4>Amreesh Chandra </h4>
            <p>President, ZOE International School</p>
        </div>
    </div>
    <hr>
    <div class="row py-3">
        <div class="col-lg-4">
            <img src="assets/images/Leaders/Moazzam.png" class=" img-fluid" />
            <h4>Moazzam Zahiruddin Khan</h4>
            <p>Vice President, ZOE International School</p>
        </div>
        <div class="col-lg-8">

            <p class="text-justify">A successful entrepreneur, Moazzam has been based in the UAE and has an in depth knowledge of the education sector in the Middle East. He identified the urgent need for quality and affordable tutoring in the UAE and was instrumental in shaping OLW and making online learning easily accessible to thousands of children studying the Indian school curriculum in the UAE. He is committed to UAE Vision 2021 and ensuring the use of cutting-edge technologies to equip students with 21st century skill sets.</p>
            <!-- <p class="text-justify">As Chief Mentor, she brings a wealth of experience and wisdom to ZOE International School.</p> -->
        </div>
    </div>
    <hr>
    <div class="row py-3">

        <div class="col-lg-8">

            <p class="text-justify">Sanjay has vast experience managing leading FMCG brands in the corporate world, both in India and the UAE. He has been associated with St. Paul’s School, India, since 2019. As CEO of Online World School he was responsible for its successful launch during the peak of the Covid-19 pandemic in India. He has now undertaken the additional task of replicating OWS’s success and making online learning support available for children in the UAE. He also has plans to expand the offering to more countries around the world.</p>
            <p>He believes in the use of AI powered learning platforms because they not only make learning easier but because they also make it more affordable. </p>
        </div>
        <div class="col-lg-4">
            <img src="assets/images/Leaders/Sanjay.png"  class=" img-fluid" />
            <h4>Sanjay Srivastava </h4>
           <p>CEO, ZOE International School </p>
        </div>
    </div>


</div>
