
<div class="container">
    <hr>
     <div class="row py-2">
        <div class="col">
            <h2 class=" text-center">Middle School</h2>
            <h4 class=" text-center">Grade 6, 7 & 8</h4>
            <p>As students transition from Junior to Middle school, we guide them in becoming independent and analytical thinkers. Our teachers have many years of experience and are well suited to provide in-depth knowledge of every subject.</p>

        </div>
     </div>

        <div class="row py-5">

        <div class="col">
            <h2>Core Subjects</h2>
            <h4>English</h4>
            <p class="text-justify">The Indian curriculum will be taught with particular attention being paid to nurturing students’ abilities to convey meaning thoughtfully, develop ideas convincingly and organize logically.  Through class interactions and discussions students will hone their public speaking skills and become more confident socially.</p>
            <!--English-->
            <div class="row">
                <div class="col">
                    <p style="color: #e77e4e;"><sup><span style="font-size: 15px;">*</span></sup>Master Modules with ZOE International School (ICSE, CBSE and Foreign Curriculums
                        )</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-4">

                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">
                            <!-- <div class=" text-center">
                           <img src="/assets/images/subj1.png" class=" img-fluid"   />
                        </div> -->
                           <h6 class="my-0 font-weight-bold text-center">GRADE 6 ENGLISH </h6>
                            <!-- <h6 style="color: #ff6666; text-align: center;">Online Tutoring in core subjects Maths, Science, English & more.
                            </h6> -->
                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Nouns, pronouns</li>
                                <li>Verbs, tenses</li>
                                <li>Adjectives, adverbs</li>
                                <li>Sentence, phrase</li>
                                <li>Subject verb agreement</li>
                                <li>Reported speech</li>
                                <li>Dialogue & article writing</li>

                            </ul>
                            <!-- <div class="text-right">
                                <a id="lm" href="#" style="font-family: 'Raleway'; color: #ba0000;">Explore More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">
                            <!-- <div class=" text-center">
                           <img src="/assets/images/subj1.png" class=" img-fluid"   />
                        </div> -->
                           <h6 class="my-0 font-weight-bold text-center">GRADE 7 ENGLISH </h6>
                            <!-- <h6 style="color: #ff6666; text-align: center;">Online Tutoring in core subjects Maths, Science, English & more.
                            </h6> -->
                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Nouns, pronouns</li>
                                <li>Verbs, tenses</li>
                                <li>Adjectives, adverbs</li>
                                <li>Sentence, phrase</li>
                                <li>Subject verb agreement</li>
                                <li>Paragraph, letter & notice writing</li>
                                <li>Reported speech</li>
                                <li>Dialogue & article writing</li>

                            </ul>
                            <!-- <div class="text-right">
                                <a id="lm" href="#" style="font-family: 'Raleway'; color: #ba0000;">Explore More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 8 ENGLISH </h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Interjections and conjunctions</li>
                                <li>Kinds of sentences</li>
                                <li>Phrases, clauses</li>
                                <li>Active & passive voice</li>
                                <li>Direct, indirect speech</li>


                            </ul>
                            <!-- <div class="text-right">
                                <a id="lm" href="#" style="font-family: 'Raleway'; color: #ba0000;">Explore More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>




            <!--English-->

            <h4>Mathematics</h4>
            <p class="text-justify">The focus will be on problem-solving. Students will be taught to analyze a problem and then devise strategies to solve it based on mathematical reasoning and evidence. Our teachers will lay the groundwork for the more complex challenges that students will face in High School.</p>
            <!--Math-->
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 6 MATH </h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Whole numbers</li>
                                <li>Integers</li>
                                <li>Data handling</li>
                                <li>Mensuration</li>
                                <li>Ratio & proportion</li>
                                <li>Symmetry</li>
                                <li>Elementary shapes</li>


                            </ul>



                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 7 MATH </h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Lines and angles</li>
                                <li>Triangles, properties, congruence</li>
                                <li>Rational numbers</li>
                                <li>Perimeter & area</li>
                                <li>Algebraic expression</li>
                                <li>Exponent</li>


                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 8 MATH</h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Linear equations</li>
                                <li>Understanding quadrilaterals</li>
                                <li>Squares, cubes, their roots</li>
                                <li>Factorization</li>
                                <li>Direct & inverse proportions</li>
                                <li>Comparing quantities

                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <!--Math-->

            <h4>Science</h4>
            <p class="text-justify">As the breadth of topics covered in the curriculum increases, it is imperative that our students learn and gain a clear understanding of scientific concepts. We will develop their ability to investigate and inquire to deepen their grasp of science.</p>

            <!--Science-->

            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 6 SCIENCE </h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Our food</li>
                                <li>Materials & things</li>
                                <li>Separation of substances</li>
                                <li>Fiber to fabric</li>
                                <li>Plants, parts & functions</li>
                                <li>Lights, shadows, images</li>
                                <li>Electric circuits</li>


                            </ul>



                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 7 SCIENCE </h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>
                                    Nutrition in animals, plants
                                    </li>
                                <li>Heat, light</li>
                                <li>Acids, bases, salts</li>
                                <li>Physical & chemical changes</li>
                                <li>Winds, storms, cyclones</li>
                                <li>Soil</li>
                                <li>Reproduction in plants</li>
                                <li>Respiration</li>
                                <li>Motion & time</li>
                                <!-- <li>Air, water & weather</li>
                                <li>Our universe</li>
                                 -->
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card border border-light mb-3 shadow-v3">
                        <div class="card-header border-bottom border-light">

                           <h6 class="my-0 font-weight-bold text-center">GRADE 8 SCIENCE</h6>

                        </div>
                        <div class="card-body">

                            <ul>
                                <li>Crop production</li>
                                <li>Synthetic fibers, plastics</li>
                                <li>Micro-organisms</li>
                                <li>Metal, non-metals</li>
                                <li>Combustion & flame</li>
                                <li>Cell structure & functions</li>
                                <li>Force, friction & pressure</li>
                                <li>Sound & light</li>
                                <li>Pollution, deforestation</li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>


            <!--Science-->

            <a href="https://olw.onlinelearningworld.ae/createaccount" class="btn btn-primary" >Register Now</a>
            <br>     <br>
            <h4>Languages</h4>
           <p class=" text-justify">The UAE is a fine example of how cultures, businesses and economies cross international borders. Learning new languages have broader cognitive, cultural, societal, and literacy benefits for children. So we encourage our students to make the most of the complementary language lessons offered by ZOE International School.</p>

            <p>Students can study any of the following three languages :</p>
            <ul>
                <li>Hindi</li>
                <li>Arabic</li>
                <li>French</li>
            </ul>

            <a href="https://olw.onlinelearningworld.ae/createaccount" class="btn btn-primary" >Register Now</a>
        </div>
    </div>
    </div>
